body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #BA5255;
background: -webkit-linear-gradient(bottom, #BA5255, #F6A2BE);
background: -moz-linear-gradient(bottom, #BA5255, #F6A2BE);
background: linear-gradient(to top, #BA5255, #F6A2BE);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
